{{ imports }}


{% for schema in schemas %}
{% if schema.type == "BaseModel"%}
class {{ schema.name }}(BaseModel):
{% if schema.fields %}
{% for field in schema.fields %}
    {{ field.name }}: {{ field.type }} {% if field.value %} = {{ field.value }} {% endif %}

{% endfor %}
{% else %}
    pass
{% endif %}
{% elif schema.type == "Literal" %}
{{ schema.name }} = Literal[
{% for field in schema.fields %}
    "{{ field }}",
{% endfor %}
]
{% endif %}


{% endfor %}
